{% load static %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>IELTS Predictor</title>
</head>
<body class="justify-content-center">
<div class="container-fluid">
    <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">IELTS Predictor</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarsExample09">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% block header %}

                            {% endblock %}

                        </ul>
                        <span class="navbar-text">
                            {% if user.is_authenticated %}

                            Logged in As: {{ user.username }}

                            <form action="{% url 'logoutuser' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>

                            {% endif %}
                        </span>
                    </div>
                </div>
            </nav>
    </div>

    <div class="container-fluid">
            {% block content %}

            {% endblock %}
    </div>

</div>


<script src="{% static 'dist/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>

