{% extends 'predictor/base.html' %}

{% load static %}

{% block header %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page"  href="{% url 'home' %}">Home</a>
</li>
{% if user.is_authenticated %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'predictor' %}">Predictor</a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'loginuser' %}">Login</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'signupuser' %}">Sign up</a>
</li>
{% endif %}

{% endblock %}

{% block content %}

<body class="justify-content-center">
<div class="container">
    <div class="row align-items-center">
        Home
    </div>
</div>










{% endblock %}